.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #191414;
}

.login img {
  width: 50vw;
}

.login a {
  padding: 20px;
  border-radius: 80px;
  background-color: #1db954;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
}
